---
layout: default
---

<div class="main-post-list hidden">

  <ol class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="阅读 {{ post.title }}">{{ post.title }}</a></h2>
      <p class="excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 250 }}</p>
      <div class="post-list__meta"><time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date | date: "%F"}}</time> &#8226; <span class="post-list__meta--tags tags">{{ post.tags | join:',' }}</span><a class="btn-border-small" href={{ post.url }}>阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    {% endfor %}
  </ol>
  
  <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
        src="//music.163.com/outchain/player?type=2&id=573093480{{ page.music-id }}&auto=0&height=66">
</iframe>
  {% include pagination.html %}
  
  <p></p>
</div>
