---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}
      </time> 
      &#8226;
      {% for tag in page.tags %}
      <span class="post-meta__tags tags"><a href="/tags/#{{tag}}">{{tag }}</a></span>
      {% endfor %}
      <span id="busuanzi_container_site_pv">浏览:<span id="busuanzi_value_site_pv"></span></span>

    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
</article>

<center><a href="javascript:scroll(0,0)">返回顶部</a></center>

{% include read-more.html %}
{% include comments.html %}
