---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}
      </time> 
      


      &#8226;
      {% for tag in page.tags %}
      <span class="post-meta__tags tags"><a href="/tags/#{{tag}}">{{tag }}</a></span>
      
      {% endfor %}
      &#8226;
      <span id="busuanzi_value_page_pv"><i class="fa fa-spinner"></i></span> 浏览
    </div>
                <!-- 在正文开头添加网易云音乐插件 -->
      {% if page.music-id %}
        {% include cloud-music.html %}
      {% endif %} 
      {{ content }}
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
</article>

<center><a href="javascript:scroll(0,0)">返回顶部</a></center>

{% include read-more.html %}
{% include comments.html %}
